In [2]:
#Import des librairies necessaire  a l'analyse des Data
import numpy as np
import pandas as pd
import matplotlib as plt

In [53]:
# Import des données des different csv de l'année 2018
DataAccident2018usagers = pd.read_csv("données/2018/usagers-2018.csv",",",encoding='latin-1', low_memory=False)
DataAccident2018lieux = pd.read_csv("données/2018/lieux-2018.csv",",",encoding='latin-1',low_memory=False)
DataAccident2018vehicules = pd.read_csv("données/2018/vehicules-2018.csv",",",encoding='latin-1', low_memory=False)
DataAccident2018caracteristiques = pd.read_csv("données/2018/caracteristiques-2018.csv",",",encoding='latin-1',low_memory=False)

# Merge des données de 2018 dans un seul dataset

data2018firstmerge = pd.merge(DataAccident2018usagers, DataAccident2018vehicules, on='Num_Acc', how='inner')
data2018secondmerge = pd.merge(data2018firstmerge, DataAccident2018lieux, on='Num_Acc', how='inner')
dataAccident2018 = pd.merge(data2018secondmerge, DataAccident2018caracteristiques, on='Num_Acc',how='inner')
dataAccident2018 = pd.DataFrame(dataAccident2018)
dataAccident2018.set_index(['Num_Acc','num_veh_x','num_veh_y'])

                                  place  catu  grav  sexe  trajet  secu  locp  \
Num_Acc      num_veh_x num_veh_y
201800000001 B01       B01          1.0     1     3     1     0.0  11.0   0.0
                       A01          1.0     1     3     1     0.0  11.0   0.0
             A01       B01          1.0     1     1     1     5.0  11.0   0.0
                       A01          1.0     1     1     1     5.0  11.0   0.0
201800000002 A01       A01          1.0     1     1     1     0.0  11.0   0.0
...                                 ...   ...   ...   ...     ...   ...   ...
201800057782 B01       B01          1.0     1     4     1     9.0  21.0   NaN
201800057783 B01       B01          1.0     1     4     1     9.0  11.0   NaN
                       A01          1.0     1     4     1     9.0  11.0   NaN
             A01       B01          1.0     1     4     2     9.0  11.0   NaN
                       A01          1.0     1     4     2     9.0  11.0   NaN

                                  actp  etatp  an_nais  ...  agg  int  atm  \
Num_Acc      num_veh_x num_veh_y                        ...
201800000001 B01       B01         0.0    0.0   1928.0  ...    1    4  1.0
                       A01         0.0    0.0   1928.0  ...    1    4  1.0
             A01       B01         0.0    0.0   1960.0  ...    1    4  1.0
                       A01         0.0    0.0   1960.0  ...    1    4  1.0
201800000002 A01       A01         0.0    0.0   1947.0  ...    2    7  7.0
...                                ...    ...      ...  ...  ...  ...  ...
201800057782 B01       B01         NaN    NaN   1974.0  ...    2    1  1.0
201800057783 B01       B01         NaN    NaN   1973.0  ...    2    1  1.0
                       A01         NaN    NaN   1973.0  ...    2    1  1.0
             A01       B01         NaN    NaN   1990.0  ...    2    1  1.0
                       A01         NaN    NaN   1990.0  ...    2    1  1.0

                                  col  com                       adr  gps  \
Num_Acc      num_veh_x num_veh_y
201800000001 B01       B01        1.0    5    route des Ansereuilles    M
                       A01        1.0    5    route des Ansereuilles    M
             A01       B01        1.0    5    route des Ansereuilles    M
                       A01        1.0    5    route des Ansereuilles    M
201800000002 A01       A01        7.0   11  Place du général de Gaul    M
...                               ...  ...                       ...  ...
201800057782 B01       B01        1.0  611   cavani-Kavani sud ( rue    Y
201800057783 B01       B01        1.0  611  m'tsapere-Nationale 2 (r    Y
                       A01        1.0  611  m'tsapere-Nationale 2 (r    Y
             A01       B01        1.0  611  m'tsapere-Nationale 2 (r    Y
                       A01        1.0  611  m'tsapere-Nationale 2 (r    Y

                                        lat       long  dep
Num_Acc      num_veh_x num_veh_y
201800000001 B01       B01        5055737.0   294992.0  590
                       A01        5055737.0   294992.0  590
             A01       B01        5055737.0   294992.0  590
                       A01        5055737.0   294992.0  590
201800000002 A01       A01        5052936.0   293151.0  590
...                                     ...        ...  ...
201800057782 B01       B01        1278622.0  4522036.0  976
201800057783 B01       B01        1278943.0  4522408.0  976
                       A01        1278943.0  4522408.0  976
             A01       B01        1278943.0  4522408.0  976
                       A01        1278943.0  4522408.0  976

[248406 rows x 49 columns]

In [3]:
DataAccident2017usagers = pd.read_csv("données/2017/usagers-2017.csv",",",encoding='latin-1', low_memory=False)
DataAccident2017lieux = pd.read_csv("données/2017/lieux-2017.csv",",",encoding='latin-1',low_memory=False)
DataAccident2017vehicules = pd.read_csv("données/2017/vehicules-2017.csv",",",encoding='latin-1', low_memory=False)
DataAccident2017caracteristiques = pd.read_csv("données/2017/caracteristiques-2017.csv",",",encoding='latin-1',low_memory=False)

data2017firstmerge = pd.merge(DataAccident2017usagers, DataAccident2017vehicules, on='Num_Acc', how='outer')
data2017secondmerge = pd.merge(data2017firstmerge, DataAccident2017lieux, on='Num_Acc', how='inner')
dataAccident2017 = pd.merge(data2017secondmerge, DataAccident2017caracteristiques, on='Num_Acc',how='inner')
dataAccident2017 = pd.DataFrame(dataAccident2017)
dataAccident2017.set_index(['Num_Acc','num_veh_x','num_veh_y'])

                                  place  catu  grav  sexe  trajet  secu  locp  \
Num_Acc      num_veh_x num_veh_y
201700000001 B01       B01          1.0     1     3     1     9.0  13.0   0.0
                       A01          1.0     1     3     1     9.0  13.0   0.0
                       B01          2.0     2     3     2     9.0  11.0   0.0
                       A01          2.0     2     3     2     9.0  11.0   0.0
             A01       B01          1.0     1     3     1     1.0  13.0   0.0
...                                 ...   ...   ...   ...     ...   ...   ...
201700060700 B01       A01          1.0     1     4     1     9.0  21.0   0.0
                       B01          1.0     1     4     1     9.0  21.0   0.0
                       A01          2.0     2     4     2     9.0  21.0   0.0
                       B01          2.0     2     4     2     9.0  21.0   0.0
201700060701 A01       A01          1.0     1     4     1     1.0  21.0   0.0

                                  actp  etatp  an_nais  ...  agg  int  atm  \
Num_Acc      num_veh_x num_veh_y                        ...
201700000001 B01       B01         0.0    0.0   1968.0  ...    2    1  1.0
                       A01         0.0    0.0   1968.0  ...    2    1  1.0
                       B01         0.0    0.0   1973.0  ...    2    1  1.0
                       A01         0.0    0.0   1973.0  ...    2    1  1.0
             A01       B01         0.0    0.0   1967.0  ...    2    1  1.0
...                                ...    ...      ...  ...  ...  ...  ...
201700060700 B01       A01         0.0    0.0   1991.0  ...    2    1  1.0
                       B01         0.0    0.0   1991.0  ...    2    1  1.0
                       A01         0.0    0.0   1990.0  ...    2    1  1.0
                       B01         0.0    0.0   1990.0  ...    2    1  1.0
201700060701 A01       A01         0.0    0.0   1992.0  ...    2    1  1.0

                                  col  com                      adr  gps  \
Num_Acc      num_veh_x num_veh_y
201700000001 B01       B01        1.0  477            rue nationale    M
                       A01        1.0  477            rue nationale    M
                       B01        1.0  477            rue nationale    M
                       A01        1.0  477            rue nationale    M
             A01       B01        1.0  477            rue nationale    M
...                               ...  ...                      ...  ...
201700060700 B01       A01        3.0  611  1, kaweni-Kaweni nord (    Y
                       B01        3.0  611  1, kaweni-Kaweni nord (    Y
                       A01        3.0  611  1, kaweni-Kaweni nord (    Y
                       B01        3.0  611  1, kaweni-Kaweni nord (    Y
201700060701 A01       A01        6.0  611    tsoundzou-Stara (rue)    Y

                                        lat       long  dep
Num_Acc      num_veh_x num_veh_y
201700000001 B01       B01        5051326.0   292191.0  590
                       A01        5051326.0   292191.0  590
                       B01        5051326.0   292191.0  590
                       A01        5051326.0   292191.0  590
             A01       B01        5051326.0   292191.0  590
...                                     ...        ...  ...
201700060700 B01       A01        1276210.0  4522609.0  976
                       B01        1276210.0  4522609.0  976
                       A01        1276210.0  4522609.0  976
                       B01        1276210.0  4522609.0  976
201700060701 A01       A01        1281342.0  4520169.0  976

[260392 rows x 49 columns]