In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
data = pd.read_csv("données/2018/lieux-2018.csv",",",encoding='latin-1')
data = pd.DataFrame(data)
data.head(10)

D:\Users\Admin\anaconda3\envs\Controle_DataScientist\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1
0,201800000001,3,41,NaN,C,2.0,2.0,NaN,NaN,0.0,1.0,3.0,NaN,NaN,1.0,0.0,1.0,0.0
1,201800000002,4,41,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,2.0,NaN,NaN,1.0,0.0,1.0,0.0
2,201800000003,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
3,201800000004,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
4,201800000005,4,NaN,NaN,NaN,1.0,1.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
5,201800000006,3,39,NaN,D,0.0,2.0,NaN,NaN,0.0,2.0,2.0,NaN,NaN,2.0,0.0,3.0,0.0
6,201800000007,3,41,NaN,D,2.0,2.0,16.0,500.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
7,201800000008,4,-,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
8,201800000009,3,141,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
9,201800000010,3,641,NaN,NaN,2.0,2.0,1.0,670.0,2.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0

In [3]:
DataAccident2018lieux = pd.read_csv("données/2018/lieux-2018.csv",",",encoding='latin-1')
DataAccident2018usagers = pd.read_csv("données/2018/usagers-2018.csv",",",encoding='latin-1')
DataAccident2018vehicules = pd.read_csv("données/2018/vehicules-2018.csv",",",encoding='latin-1')
DataAccident2018caracteristiques = pd.read_csv("données/2018/caracteristiques-2018.csv",",",encoding='latin-1')

data2018firstmerge = pd.merge(DataAccident2018lieux, DataAccident2018usagers, on='Num_Acc',how="inner")
data2018secondmerge = pd.merge(data2018firstmerge, DataAccident2018vehicules, on='Num_Acc',how="inner")
dataAccident2018 = pd.merge(data2018secondmerge, DataAccident2018caracteristiques, on='Num_Acc',how="inner")
dataAccident2018 = pd.DataFrame(dataAccident2018)
dataAccident2018.head(10)

D:\Users\Admin\anaconda3\envs\Controle_DataScientist\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,...,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201800000001,3,41,NaN,C,2.0,2.0,NaN,NaN,0.0,...,1,4,1.0,1.0,5,route des Ansereuilles,M,5055737.0,294992.0,590
1,201800000001,3,41,NaN,C,2.0,2.0,NaN,NaN,0.0,...,1,4,1.0,1.0,5,route des Ansereuilles,M,5055737.0,294992.0,590
2,201800000001,3,41,NaN,C,2.0,2.0,NaN,NaN,0.0,...,1,4,1.0,1.0,5,route des Ansereuilles,M,5055737.0,294992.0,590
3,201800000001,3,41,NaN,C,2.0,2.0,NaN,NaN,0.0,...,1,4,1.0,1.0,5,route des Ansereuilles,M,5055737.0,294992.0,590
4,201800000002,4,41,NaN,D,2.0,2.0,NaN,NaN,0.0,...,2,7,7.0,7.0,11,Place du général de Gaul,M,5052936.0,293151.0,590
5,201800000002,4,41,NaN,D,2.0,2.0,NaN,NaN,0.0,...,2,7,7.0,7.0,11,Place du général de Gaul,M,5052936.0,293151.0,590
6,201800000003,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,...,2,3,1.0,7.0,477,Rue nationale,M,5051243.0,291714.0,590
7,201800000003,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,...,2,3,1.0,7.0,477,Rue nationale,M,5051243.0,291714.0,590
8,201800000003,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,...,2,3,1.0,7.0,477,Rue nationale,M,5051243.0,291714.0,590
9,201800000003,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,...,2,3,1.0,7.0,477,Rue nationale,M,5051243.0,291714.0,590